@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-light: #e8e9e7;
  --foreground-light: #2c3b26;
  --background-dark: #121a13; 
  --foreground-dark: #e8e9e7; 
  
  /* Default (light mode) color variables */
  --background: var(--background-light);
  --foreground: var(--foreground-light);
  
  /* Primary and secondary colors for light mode */
  --primary-light: #2c3b26;
  --secondary-light: #35263b; 
  --text-primary-light: #E0E6DD; 
  --text-secondary-light: #22251f;
  
  /* Sidebar color for light mode */
  --sidebar-light: #26362B;
  
  /* Banner color for light mode */
  --banner-light: #45523e; /* Same as primary color for the banner */
}

#root, #__next {
  height: 100%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121a13; /* Very dark greenish background */
    --foreground: #d3e4d1; /* Soft, pale green for text */

    --primary: #8fae86; /* Muted earthy green for primary elements */
    --secondary: #9789a4; /* Slightly darker secondary green */
    --text-primary: ##b9d6dd; /* Pale text for readability */
    --text-secondary: #a9b8a3; /* Subtle muted secondary text */

    --sidebar: #1a2a20; /* Dark, desaturated green for the sidebar */
    --banner: #26362b; /* Dark green for the banner, matching the light mode but darker */
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background: var(--background-light);
    --foreground: var(--foreground-light);

    /* Restore light mode colors */
    --primary: var(--primary-light);
    --secondary: var(--secondary-light);
    --text-primary: var(--text-primary-light);
    --text-secondary: var(--text-secondary-light);
    --sidebar: var(--sidebar-light);
    --banner: var(--banner-light);
  }
}

body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Banner / Header */
.header {
  background-color: var(--banner); /* Use banner color */
  color: var(--text-primary);
}

/* Sidebar */
.sidebar {
  background-color: var(--sidebar);
  color: var(--text-primary);
}

a:hover {
  color: var(--secondary);
}