@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-light: #f9fff0; /* Dark green-gray background */
  --foreground-light: #2c3b26; /* Soft white text */
  --background-dark: #16241B; /* Slightly lighter dark green-black background */
  --foreground-dark: #C8E2C6; /* Softer light green-gray text */
  
  /* Default (light mode) color variables */
  --background: var(--background-light);
  --foreground: var(--foreground-light);
  
  /* Primary and secondary colors for light mode */
  --primary-light: #2c3b26; /* Rich forest green */
  --secondary-light: #2c3b26; /* Bright green */
  --text-primary-light: #E0E6DD; /* Light gray-green text */
  --text-secondary-light: #22251f; /* Muted green-gray text */
  
  /* Sidebar color for light mode */
  --sidebar-light: #26362B; /* Deep green sidebar */
  
  /* Banner color for light mode */
  --banner-light: #45523e; /* Same as primary color for the banner */
}

#root, #__next {
  height: 100%; /* Ensure the Next.js container takes up full height */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #22251f;
    --foreground: #f4faec;

    /* Primary and secondary colors for dark mode */
    --primary: #a4b794; /* Darker forest green */
    --secondary: #5F9463; /* Softer bright green */
    --text-primary: #f4faec; /* Softer greenish-gray text */
    --text-secondary: #c5ccc0; /* Muted gray text */

    /* Sidebar color for dark mode */
    --sidebar: #a4b794; /* Slightly lighter dark green */

    /* Banner color for dark mode */
    --banner: #45523e; /* Same as primary-dark for the banner */
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background: var(--background-light);
    --foreground: var(--foreground-light);

    /* Restore light mode colors */
    --primary: var(--primary-light);
    --secondary: var(--secondary-light);
    --text-primary: var(--text-primary-light);
    --text-secondary: var(--text-secondary-light);
    --sidebar: var(--sidebar-light);
    --banner: var(--banner-light);
  }
}

body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Banner / Header */
.header {
  background-color: var(--banner); /* Use banner color */
  color: var(--text-primary);
}

/* Sidebar */
.sidebar {
  background-color: var(--sidebar);
  color: var(--text-primary);
}

a:hover {
  color: var(--secondary);
}
