aws_region                = "eu-west-1"
project_name              = "dishfromthis"
environment               = "dev"
api_gateway_id            = "REPLACE_ME_HTTP_API_ID"
api_gateway_stage_name    = "$default"
cognito_user_pool_id      = "REPLACE_ME_USER_POOL_ID"
cognito_app_client_id     = "REPLACE_ME_USER_POOL_APP_CLIENT_ID"
account_lambda_package_path = "../../../dist/account-state.zip"

account_routes = [
  "GET /account/state",
  "PUT /account/state",
  "POST /account/migrate-guest"
]

tags = {
  Owner = "platform"
}
